    <section class="call call__block">
        <div class="call__wrapper">
            <button class="btn btn__closed">
                <div class="btn__item"></div>
                <div class="btn__item"></div>
                <div class="btn__item"></div>
            </button> 
            
            <h2 class="call__title">Заказать звонок</h2>
            
            <form action="#" class="form">
                <input type="number" placeholder="Телефон" class="form__item">
                
            </form>
            
            <div class="call__agree">
                Нажимая “отправить”, вы даете согласие на <span><a href="#">обработку персонаьных данных</a></span>   и соглашаетесь с нашей  <span><a href="#">политикой конфиденцальности</a></span>
            </div>
            
            <button class="btn btn__send">Отправить <img src="icons/dropdown.png" alt=""></button>
        </div>
        </section>
