    <section class="feedback feedback__block ">
        <div class="feedback__wrapper">
            <button class="btn btn__closed">
                <div class="btn__item"></div>
                <div class="btn__item"></div>
                <div class="btn__item"></div>
            </button> 
            
            <h2 class="feedback__title">Обратная связь</h2>
            
            <form action="#" class="form">
                <input type="name" placeholder="Имя" class="form__item">
                <input type="number" placeholder="Телефон" class="form__item">
                <input type="email" placeholder="Электронная почта" class="form__item">
                <input type="text" placeholder="Сообщение" class="form__item">
                
            </form>
            
            <div class="feedback__agree">
                Нажимая “отправить”, вы даете согласие на <span><a href="#">обработку персонаьных данных</a></span>   и соглашаетесь с нашей  <span><a href="#">политикой конфиденцальности</a></span>
            </div>
            
            <button class="btn btn__send">Отправить <img src="icons/dropdown.png" alt=""></button>
        </div>
        </section>
