<section class="price right-side">
    <div class="price__header text">
        цена на услуги
    </div>
<div class="swiper-container">
    <div class="swiper-wrapper price__wrapper">
        <div class="price__item swiper-slide">
            <div class="price__services">
                <div class="price__title">Ремонтные услуги</div>
                <div class="price__text">Диагностика</div>
            </div>
            <div class="price__price">
                <div class="price__title">Цена</div>
                <div class="price__text">Бесплатно</div>
            </div>
            <div class="price__time">
                <div class="price__title">Срок</div>
                <div class="price__text">30мин</div>

            </div>
            <button class="price__btn">заказать</button>

        </div>
        <div class="price__item swiper-slide">
            <div class="price__services">
                <div class="price__title">Ремонтные услуги</div>
                <div class="price__text">Замена дисплея</div>
            </div>
            <div class="price__price">
                <div class="price__title">Цена</div>
                <div class="price__text">1000 Р</div>
            </div>
            <div class="price__time">
                <div class="price__title">Срок</div>
                <div class="price__text">30-120 мин</div>

            </div>
            <button class="price__btn">заказать</button>

        </div>
        <div class="price__item swiper-slide">
            <div class="price__services">
                <div class="price__title">Ремонтные услуги</div>
                <div class="price__text">Замена полифонического динамика</div>
            </div>
            <div class="price__price">
                <div class="price__title">Цена</div>
                <div class="price__text">1000 Р</div>
            </div>
            <div class="price__time">
                <div class="price__title">Срок</div>
                <div class="price__text">30-120 мин</div>

            </div>
            <button class="price__btn">заказать</button>

        </div>
        <div class="price__item swiper-slide">
            <div class="price__services">
                <div class="price__title">Ремонтные услуги</div>
                <div class="price__text">Тестирование с выдачей технического заключения</div>
            </div>
            <div class="price__price">
                <div class="price__title">Цена</div>
                <div class="price__text">1000 Р</div>
            </div>
            <div class="price__time">
                <div class="price__title">Срок</div>
                <div class="price__text">30-120 мин</div>

            </div>
            <button class="price__btn">заказать</button>

        </div>
        <div class="price__item swiper-slide">
            <div class="price__services">
                <div class="price__title">Ремонтные услуги</div>
                <div class="price__text">Замена программного обеспечения</div>
            </div>
            <div class="price__price">
                <div class="price__title">Цена</div>
                <div class="price__text">1000 Р</div>
            </div>
            <div class="price__time">
                <div class="price__title">Срок</div>
                <div class="price__text">30-120 мин</div>

            </div>
            <button class="price__btn">заказать</button>

        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>

    <div class="price__wrapper price__wrapper--no_swiper">
        <div class="name"> 
          <div class="name__service">Ремонтные услуги</div>
          <div class="name__price">Цена</div>
          <div class="name__time">Срок</div>
      </div> 
      <div class="price__item">
          <div class="price__services">
              <div class="price__title">Ремонтные услуги</div>
              <div class="price__text">Диагностика</div>
          </div>
          <div class="price__price">
              <div class="price__title">Цена</div>
              <div class="price__text">Бесплатно</div>
          </div>
          <div class="price__time">
              <div class="price__title">Срок</div>
              <div class="price__text">30мин</div>

          </div>
          <button class="price__btn">заказать</button>

      </div>
      <div class="price__item">
          <div class="price__services">
              <div class="price__title">Ремонтные услуги</div>
              <div class="price__text">Замена дисплея</div>
          </div>
          <div class="price__price">
              <div class="price__title">Цена</div>
              <div class="price__text">1000 Р</div>
          </div>
          <div class="price__time">
              <div class="price__title">Срок</div>
              <div class="price__text">30-120 мин</div>

          </div>
          <button class="price__btn">заказать</button>

      </div>
      <div class="price__item">
          <div class="price__services">
              <div class="price__title">Ремонтные услуги</div>
              <div class="price__text">Замена полифонического динамика</div>
          </div>
          <div class="price__price">
              <div class="price__title">Цена</div>
              <div class="price__text">1000 Р</div>
          </div>
          <div class="price__time">
              <div class="price__title">Срок</div>
              <div class="price__text">30-120 мин</div>

          </div>
          <button class="price__btn">заказать</button>

      </div>
      <div class="price__item">
          <div class="price__services">
              <div class="price__title">Ремонтные услуги</div>
              <div class="price__text">Тестирование с выдачей технического заключения</div>
          </div>
          <div class="price__price">
              <div class="price__title">Цена</div>
              <div class="price__text">1000 Р</div>
          </div>
          <div class="price__time">
              <div class="price__title">Срок</div>
              <div class="price__text">30-120 мин</div>

          </div>
          <button class="price__btn">заказать</button>

      </div>
      <div class="price__item">
          <div class="price__services">
              <div class="price__title">Ремонтные услуги</div>
              <div class="price__text">Замена программного обеспечения</div>
          </div>
          <div class="price__price">
              <div class="price__title">Цена</div>
              <div class="price__text">1000 Р</div>
          </div>
          <div class="price__time">
              <div class="price__title">Срок</div>
              <div class="price__text">30-120 мин</div>

          </div>
          <button class="price__btn">заказать</button>

      </div>

  </div>
    <div class="price__commerce">
        <div class="price__descr">
            Все цены указаны с учетом НДС. Стоимость ремонта указана на единичную услугу. Для получения коммерческого предложения на постоянное обслуживание, оставьте заявку.
        </div>
        <div class="price__offer">
            <a href="#">Получить коммерческое предложение</a>
        </div>
    </div>
</section>
</main>
<footer class="footer footer-side">
    <div class="footer__wrapper">
        <div class="footer__dev">© 2019 CPS
            Разработано командой Apesong </div>

        <div class="footer__politic">
            <a href="#">Политика конфиденциальности</a>
        </div>
        <div class="footer__offerta">
            Информация, размещенная на данной странице, не является публичной офертой
        </div>
    </div>
</footer>


<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="js/swiper.js"></script>
