
    <section class="repairs right-side">
        <div class="repairs__header">Ремонт техники различных брендов</div>
        <div class=" swiper-container repairs__technic">
            <div class="swiper-wrapper repairs__wrapper">
                <div class="repairs__item swiper-slide">
                    <div class="repairs__text">Ремонт ноутбуков</div>
                    <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                </div>
                <div class="repairs__item swiper-slide">
                    <div class="repairs__text">Ремонт планшетов</div>
                    <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                </div>
                <div class="repairs__item swiper-slide">
                    <div class="repairs__text">Ремонт ПК</div>
                    <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                </div>
                <div class="repairs__item swiper-slide">
                    <div class="repairs__text">Ремонт ноутбуков</div>
                    <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                </div>
                <div class="repairs__item swiper-slide">
                    <div class="repairs__text">Ремонт планшетов</div>
                    <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                </div>
                <div class="repairs__item swiper-slide">
                    <div class="repairs__text">Ремонт ПК</div>
                    <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                </div>
                <div class="repairs__item swiper-slide">
                    <div class="repairs__text">Ремонт ноутбуков</div>
                    <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                </div>
                <div class="repairs__item swiper-slide">
                    <div class="repairs__text">Ремонт планшетов</div>
                    <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                </div>
                <div class="repairs__item swiper-slide">
                    <div class="repairs__text"> Ремонт ПК</div>
                    <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                </div>
                <div class="repairs__item swiper-slide">
                    <div class="repairs__text">Ремонт ноутбуков</div>
                    <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                </div>
                <div class="repairs__item swiper-slide">
                    <div class="repairs__text">Ремонт планшетов</div>
                    <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                </div>
            </div>
            <div class="swiper-pagination dots">
                <div class="dots__item"></div>
            </div>
        </div>
    </div>
</div>
            <div class="repairs__technic repairs__technic--noswiper">
                    <div class="repairs__wrapper--noswiper">
                        <div class="repairs__item">
                            <div class="repairs__text">Ремонт ноутбуков</div>
                            <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                        </div>
                        <div class="repairs__item">
                            <div class="repairs__text">Ремонт планшетов</div>
                            <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                        </div>
                        <div class="repairs__item">
                            <div class="repairs__text">Ремонт ПК</div>
                            <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                        </div>
                        <div class="repairs__item">
                            <div class="repairs__text">Ремонт ноутбуков</div>
                            <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                        </div>
                        <div class="repairs__item">
                            <div class="repairs__text">Ремонт планшетов</div>
                            <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                        </div>
                        <div class="repairs__item ">
                            <div class="repairs__text">Ремонт ПК</div>
                            <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                        </div>
                        <div class="repairs__item">
                            <div class="repairs__text">Ремонт ноутбуков</div>
                            <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                        </div>
                        <div class="repairs__item">
                            <div class="repairs__text">Ремонт планшетов</div>
                            <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                        </div>
                        <div class="repairs__item">
                            <div class="repairs__text">Ремонт ПК</div>
                            <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                        </div>
                        <div class="repairs__item">
                            <div class="repairs__text">Ремонт ноутбуков</div>
                            <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                        </div>
                        <div class="repairs__item">
                            <div class="repairs__text">Ремонт планшетов</div>
                            <button class="repairs__btn"><img src="icons/dropdown.png" alt=""></button>
                        </div>
                    </div>
                    <button class="repairs__show showw" ><img src="icons/icon.png" alt="arrow">Показать все</button>
                    <button class="repairs__show--hidden repairs__show hidee"><img src="icons/icon.png" alt="arrow">Скрыть</button>
        
                    <div class="swiper-pagination dots">
                        <div class="dots__item"></div>
                    </div>
                </div>
            </div>     
        </div>
    </section>

    <script src="js/index.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="js/swiper.js"></script>
