@font-face {
    font-family: 'TT Lakes';
    src: url('../founts/TTLakes-Black.eot');
    src: url('../founts/TTLakes-Black.eot?#iefix') format('embedded-opentype'),
    url('../founts/TTLakes-Black.woff') format('woff'),
    url('../founts/TTLakes-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    }

@font-face {
    font-family: 'TT Lakes';
    src: url('../founts/TTLakes-Medium.eot');
    src: url('../founts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../founts/TTLakes-Medium.woff') format('woff'),
    url('../founts/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }